@import 'functions';

body {
   margin:0;
   padding:0;
}

.btn {
   text-decoration: none;
   width:100%;
   display:block;
   text-align: center;
   padding:15px 0px;
   color:$Grays;
   font-family:"Poppins", sans-serif;
   background:#FFF;
   font-weight:500;
   letter-spacing: 1px;
   text-transform: uppercase;
   border:3px solid $LightGray;
   -webkit-transition:all 0.3s ease-in-out;
   -moz-transition:all 0.3s ease-in-out;
   -o-transition:all 0.3s ease-in-out;
   transition:all 0.3s ease-in-out;

   &:hover {
      background:$Blue;
      border:3px solid $Blue;
      color:#FFF;
   }
}

.btn-section {
   max-width:$max-width/2 !important;
   margin:auto;
}

/***** Top Bar *****/

#top-bar {
   height:$top-bar_height;
   width:100%;

   .email-top {
      float:left;
      line-height:$top-bar_height;
      margin-left:15px;

      a {
         text-decoration: none;
         color:$Gray;
      }
   }

   .sm-top {
      float:right;
      line-height:$top-bar_height;
      margin-right:15px;
   }
}

.top-bar_wrapper {
   max-width:$max-width;
   height:$top-bar_height;
   margin:auto;
}

/***** Header *****/

header {
   min-height:400px;
   width:100%;
   text-align: center;

   #logo {
      max-width:$max-width;
      margin:auto;
      -webkit-transition:all 0.3s ease-in-out;
      -moz-transition:all 0.3s ease-in-out;
      -o-transition:all 0.3s ease-in-out;
      transition:all 0.3s ease-in-out;

      &:hover {
         box-shadow:$box-shadow;

      }
   }

   a#donate {
      z-index:-100;
      background:$Blue;
      width:100%;
      display:inline-block;
      padding:30px 0px;
      color:#FFF;
      text-decoration: none;
      font-size:17px;
      font-family:sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing:0.4px;
      -webkit-transition:all 0.3s ease-in-out;
      -moz-transition:all 0.3s ease-in-out;
      -o-transition:all 0.3s ease-in-out;
      transition:all 0.3s ease-in-out;

      &:hover {
         background:lighten($Blue, 3%);
      }
   }
}

/***** Navigation *****/

nav {
   margin-bottom:20px;

   #nav-wrapper {
      height:$top-bar_height;
      max-width:$max-width;
      margin:auto;

      ul {
         list-style:none;
         line-height:$top-bar_height;
         padding-left:0px !important;

         li {
            display:inline-block;

            &:after {
               content:"|";
               font-weight:bold;
               margin-left:20px;
               color:$LightGray;
            }

            &:last-child:after {
               content:none;
            }

            a {
               text-decoration: none;
               font-weight:bold;
               text-transform: uppercase;
               padding:0;
               margin:0 20px;
               font-size:16px;
               font-family:sans-serif;
               color:$DarkGray;
               -webkit-transition:all 0.3s ease-in-out;
               -moz-transition:all 0.3s ease-in-out;
               -o-transition:all 0.3s ease-in-out;
               transition:all 0.3s ease-in-out;

               &:hover {
                  color:$Blue !important;
               }
            }
         }
      }
   }

   #nav-mobile {
      display:none;
      line-height:$top-bar_height;
      font-size:36px;
      color:$DarkGray;
   }
}

/***** #Cover *****/
#cover {
   background:rgb(200, 200, 200);
   height:400px;
}
article > section#meet-alex {
   height:500px;
   margin:0;
   padding:0;

   .title {
      font-size:100px;
      text-align: center;
      padding:0px;
      margin-bottom:-40px;
      color:$Gray;
      font-weight:600;
      text-transform: uppercase;
      font-family:"Poppins", sans-serif;
   }
}

.meet-alex-profile {
   max-width:$max-width;
   height:400px;
   background:white;
   margin:auto;
   box-shadow:$box-shadow;
}

#alex-picture {
   float:left;
   height:400px;
   width:40%;
   background:url("../../assets/img/alex-portait.jpg");
   background-size:cover;
}

#alex-descr-wrap {
   float:right;
   height:400px;
   width:60%;
}

.alex-descr {
   padding:20px 30px 0px 30px;
   font-family:"Poppins", sans-serif;
   font-weight:400 !important;

   h1 {
      font-size:22px;
      color:$DarkGray;
      padding-bottom:0;
      margin-bottom:0;
   }

   h3 {
      color:$LightGray;
      padding:0px;
      margin:0;
   }

   p {
      font-size:14px;
      line-height:25px;
      color:$Grays;
   }
}

.meet-alex_story {
   height:300px;
   background:Red;
   margin:auto;
   margin-top:100px;
   margin-bottom:100px;
   max-width:$max-width;
   box-shadow:$box-shadow;

   .meet-alex_part1-descr {
      height:300px;
      background:blue;
      width:50%;
   }

   .meet-alex_part1-img {
      height:300px;
      background:green;
      width:50%;
   }
}

.left {float:left;}
.right {float:right;}

// @media screen and (min-width: 725px) {
//
// }

@media screen and (max-width: 725px) {
   nav #nav-wrapper ul li:after {
      margin-left:5px !important;
   }

   nav #nav-wrapper ul li a {
      margin:0 10px;
   }
}

@media screen and (max-width:600px) {
   #nav-mobile {
      display:inline-block !important;
   }

   #nav-desktop {
      display:none;

      li {
         display: block !important;
      }

      li a {
         background: red !important;
         display:block;
         margin:0;
         padding:0;
      }
   }
}
