@import 'functions';

body {
   margin:0;
   padding:0;
}

#top-bar {
   height:$top-bar_height;
   width:100%;

   .email-top {
      float:left;
      line-height:$top-bar_height;

      a {
         text-decoration: none;
         color:$Gray;
      }
   }

   .sm-top {
      float:right;
      line-height:$top-bar_height;
   }
}

.top-bar_wrapper {
   max-width:1000px;
   height:$top-bar_height;
   margin:auto;
}

header {
   background:rgb(240, 240, 240);
   min-height:400px;
   width:100%;
}
